@import "/styles/utils/_variables.scss";

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  align-content: center;
  justify-content: center;

  gap: 48px;

  @media (max-width:768px) {
    grid-template-columns: repeat(3, $product-width);
  }

  @media (max-width:$main-width) {
    grid-template-columns: repeat(2, $product-width);
  }

  @media (max-width:$main-width) {
    grid-template-columns: repeat(1, $product-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
